@media(max-width: 1023px) {
  .commentForm {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 2rem;
    background-color: #FFFFFF;
    border-top: var(--primrary-color-hover2);
  }
}

@media(min-width: 1024px) {
  .postDetails {
    display: flex;
    margin: 0 4rem;
  }

  .post {
    width: 70%;
    padding-right: 3rem;
  }

  .commentsContainer {
    width: 30%;
  }
}

.btn1 {
  background: #ececec;
  color: var(--secondary-color);
  border: 0;
  border-radius: 0.125rem;
  padding: 1rem 2rem;
}

.btn2 {
  background: #ececec;
  border: 0;
  border-radius: 0.125rem;
  padding: 1rem 2rem;
}

.btn1:hover,
.btn1:focus {
  color: #FFFFFF;
  box-shadow: inset 8rem 0 0 0 var(--secondary-color);
  transition: 0.25s;
}

.btn2:hover{
  background-color: var(--primrary-color-hover2);
}

.btn1 + .btn2 {
  margin-left: 1rem;
}

.h2 {
  margin: 2rem 0 1rem 0;
}