.bold {
  font-weight: bold;
}

.left a[data-active='false'] {
  color: gray;
}

.right {
  margin-left: auto;
  transition: all 0.20s ease;
}

.right a[data-active='false'] {
  color: gray;
}

.right :hover{
  transform: scale(1.1);
  transition: all 0.20s ease;
}

@media screen and (max-width: 520px) {

.left a {
  font-size: 0.80rem;
}
  
.right a{
  font-size: 0.80rem;
  
}

.right{
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 10px;
  
}

}

