body {
  background-image: url("../public/ok7.jpg");

  color: rgb(18, 43, 72);
  padding: 5vh 0;
  margin: 0;

  font-family: "Roboto", sans-serif;
}
.Header {
  width: 80vw;
  margin: auto;
  text-align: center;
  background-color: white;
  padding: 5vh 10vw;
  margin-bottom: 3vh;
  border-radius: 5vh;
  border: 0.5vh solid rgba(230, 168, 195, 0.424);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}
.logo {
  width: 10vw;
  text-align: center;
}
.ButtonIdentify {
  display: flex;
  gap: 3vw;
}
.ButtonIdentify button {
  background-color: white;
  border: none;
  font-weight: bold;
}

.ButtonIdentify button:hover {
  color: rgb(230, 168, 195);
}

section {
  width: 80vw;
  height: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
}
section form {
  background-color: rgba(255, 255, 255, 0);
  margin: 10vh 0;
  padding: 5vh;
  /* border: 1vh solid rgba(230, 168, 195, 0.424); */
  border-radius: 5vh;
}
h1 {
  font-family: "Great Vibes", cursive;
  text-align: center;
  margin-bottom: 5vh;
  font-size: 4em;
  color: white;
}

.Formulaire {
  display: flex;
  flex-direction: column;
  gap: 4vh;
}
input {
  border: 0.5vh solid rgba(230, 168, 195, 0.424);
  background-color: rgba(255, 255, 255, 0.811);
  width: 30vw;
  margin: auto;
  /* border: none; */
  border-radius: 5vh;
  height: 5vh;
  padding: 0 5vh;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
}
textarea {
  background-color: rgba(255, 255, 255, 0.811);
  width: 60vw;
  margin: auto;
  /* border: none; */
  border: 0.5vh solid rgba(230, 168, 195, 0.424);
  padding: 3vh 5vh;
  border-radius: 5vh;
  box-sizing: border-box;
}
.LesCommentaires {
  background-color: rgba(255, 255, 255, 0.619);
  border-radius: 5vh;
  /* border: 1vh solid rgba(255, 255, 255, 0.536); */
  border: 0.5vh solid rgba(230, 168, 195, 0.424);
  padding: 5vh;
  height: 60vh;
  overflow-y: auto;
}

.LeCommentaire {
  background-color: rgba(255, 255, 255, 0.811);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  height: fit-content;
  line-height: 0.3;
  margin: 1vw 4vw;
  border: rgba(255, 255, 255, 0.324) solid 1vh;
  border-radius: 5vh;
}

.LeCommentaire:hover {
  border: white solid 1vh;
}
.LeCommentaire:hover p {
  color: rgb(216, 85, 1);
}
.LeCommentaire:hover h3 {
  color: rgb(125, 176, 203);
}
.LeCommentaire button {
  border: none;
  font-size: 3vh;
  background-color: rgba(240, 248, 255, 0);
}

.sidentifier {
  width: 60vw;
  margin: auto;
  text-align: center;
}
.sidentifier > div {
  background-color: rgba(255, 255, 255, 0.811);
  border: black 1px solid;
  margin: 5vh;
  padding: 5vh;
  align-items: center;
}
.sidentifier form {
  width: 30vw;
  /* border: solid black 1px; */
  display: flex;
  flex: 1;
  margin: auto;
  flex-direction: column;
}

.sidentifier form input {
  margin: 1vh;
  align-items: center;
  width: 25vw;
}

.sidentifier form button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-weight: bold;
  font-size: 3vh;
  margin-top: 2vh;
}
.sidentifier form button:hover {
  color: rgb(216, 85, 1);
}

.ButtonBack {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-weight: bold;
  font-size: 3vh;
  color: rgb(216, 85, 1);
}
.LoginAndSignUp button {
  border: none;
  background-color: rgba(240, 248, 255, 0);
  font-weight: bold;
  font-size: 3vh;
  color: rgb(125, 176, 203);
}
.LoginAndSignUp :first-child:hover {
  color: rgb(216, 85, 1);
}

.LoginAndSignUp :last-child:hover {
  color: rgb(216, 85, 1);
}

.LoginAndSignUp {
  display: flex;
  justify-content: space-around;
}
